$red: #ff0000;
$grey: #666;
$headerGrey: #ccc;
$headerBlue: #CCE6E6;
$blue: #009;
$width: 990px;
$sidebar: 254px;

html {
  margin: 0;
  border:0;
  padding: 0;
}

body {
  color: black;
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
}

a {
  &:link {
    color: $red;
  }
  &:visited {
    color: $red;
  }
}

article {
  margin-bottom: 10px;
}

aside {
  float: right;
  width: $sidebar - 14px;
  padding-left: 14px;
  h3 {
    display: block;
  }
}

dl {
  dt {
    display: inline;
    font-weight: bold;
    float: left;
    a {
      &:link {
        color: $blue;
      }
      &:visited {
        color: $blue;
      }
    }
  }
  dd {
    display: inline;
    -webkit-margin-start: 0;
    float: left;
    margin-bottom: 10px;
  }
}

footer {
  clear: both;
  border-top: 2px solid $grey;
  margin-top: 10px;
}

h1 {
  border-bottom: 2px solid $grey;
  text-transform: uppercase;
}

h2 {
  background-color: $headerGrey;
  padding: 4px 0;
}

h3 {
  display: inline;
  font-size: 1.1em;
  a {
    &:link {
      color: $blue;
    }
    &:visited {
      color: $blue;
    }
  }
}

#wrapper {
  text-align: center;
  width: $width;
  text-align: left;
  margin: 10px auto;

}

header {
  text-align: center;
  border-bottom: 2px solid $headerGrey;
  float: left;
  width: $width;
  margin-bottom: 10px;
}

.third {
  width: $width / 3;
  float: left;
}

.grey {
  color: $grey;
  font-weight: normal;
  text-transform: none;
}

#main {
  width: $width - $sidebar;
  float: left;
}