* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.375em;
}

html {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  color: black;
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
}

a:link {
  color: red;
}
a:visited {
  color: red;
}

article {
  margin-bottom: 10px;
}
article h1 {
  border-bottom: 0;
  text-transform: none;
}

aside {
  float: right;
  width: 240px;
  padding-left: 14px;
}
aside h3 {
  display: block;
}

dl dt {
  display: inline;
  font-weight: bold;
  float: left;
}
dl dt a:link {
  color: #000099;
}
dl dt a:visited {
  color: #000099;
}
dl dd {
  display: inline;
  -webkit-margin-start: 0;
  float: left;
  margin-bottom: 10px;
}

footer {
  clear: both;
  border-top: 2px solid #666666;
  margin-top: 10px;
}

h1 {
  border-bottom: 2px solid #666666;
  text-transform: uppercase;
  padding-bottom: 8px;
}

h2 {
  background-color: #cccccc;
  padding: 4px 0;
}

h3 {
  display: inline;
  font-size: 1.1em;
}
h3 a:link {
  color: #000099;
}
h3 a:visited {
  color: #000099;
}

#wrapper {
  text-align: center;
  width: 990px;
  text-align: left;
  margin: 10px auto;
}

header {
  text-align: center;
  border-bottom: 2px solid #cccccc;
  float: left;
  width: 990px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.third {
  width: 330px;
  float: left;
}

.grey {
  color: #666666;
  font-weight: normal;
  text-transform: none;
}

.red {
  color: #b90609;
}

#main {
  width: 736px;
  float: left;
}
