body {
  color: black;
  background-color: white;
  font-family: Arial, Helvetica;
}

a:link {
  color: red;
}
a:visited {
  color: red;
}

dl dt {
  display: inline;
  font-weight: bold;
}
dl dt a:link {
  color: #000099;
}
dl dt a:visited {
  color: #000099;
}
dl dd {
  display: inline;
  -webkit-margin-start: 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  background-color: #cccccc;
  padding: 4px 0;
}

#wrapper {
  text-align: center;
  width: 990px;
  text-align: left;
  margin: 10px auto;
}

header {
  text-align: center;
  border-bottom: 2px solid #cccccc;
  float: left;
  width: 990px;
}

.third {
  width: 330px;
  float: left;
}

.grey {
  color: #666666;
  font-weight: normal;
  text-transform: none;
}

#main {
  width: 736px;
}
